.is-checked{
    background-color: #fddc57 !important;
}

.portFolioHeadTitle{
    overflow: hidden;

    font-weight: 400;
    font-size:2.250rem;
    color:#16293b;
    border-left:3px solid #fddc57;
    padding-left:15px;
}